.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

strong {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  // -webkit-user-modify: read-write-plaintext-only;
}

em {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  // -webkit-user-modify: read-write-plaintext-only;
}

del {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  // -webkit-user-modify: read-write-plaintext-only;
}

.inline-code {
  display: inline-block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: rgba(250, 239, 240, 0.78);
  color: #b44437;
  padding: 3px 4px;
  border-radius: 5px;
  margin: 0 1px;
  /* font-family: none; */
  font-size: 0.86em;
  font-weight: 500;
  letter-spacing: 0.3px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
}

/**
 * Plugin styles
 */
 .ce-header {
  padding: 1em 0;
  margin: 0;
  margin-bottom: -0.9em;
  line-height: 1.5em;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}

.cdx-list {
  margin: 0;
  padding-left: 40px;
  outline: none;

  &__item {
      padding: 5.5px 0 5.5px 3px;
      line-height: 1.6em;
  }

  &--unordered {
      list-style: disc;
  }

  &--ordered {
      list-style: decimal;
  }

  &-settings {
      display: flex;

      .cdx-settings-button {
          width: 50%;
      }
  }
}

.code-block {
  color: rgb(230, 236, 241);
  display: block;
  hyphens: none;
  tab-size: 2;
  direction: ltr;
  font-size: 14px;
  text-align: left;
  word-break: normal;
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, Courier, monospace;
  line-height: 1.4;
  white-space: pre;
  word-spacing: normal;
  margin: 32px 0px;
  padding: 24px 24px 24px 8px;
  overflow: auto;
  background: rgb(24, 48, 85);
  border-radius: 3px;
}

.code-block .code-edit {
  position: relative;
  overflow-wrap: normal;
  white-space: pre;
  counter-increment: line 1;
  font: inherit;
  padding: 0px 14px 0px 44px;
}

.code-block .code-edit:only-child {
  padding-left: 30px;
}

.code-edit:not(:only-child)::before {
  top: 2px;
  left: 4px;
  color: rgb(92, 105, 117);
  width: 24px;
  bottom: 0px;
  content: counter(line);
  display: inline-block;
  position: absolute;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  user-select: none;
  overflow: hidden;
}

.quote { 
  color: rgb(116, 129, 141);
  margin: 12px 0px 24px;
  padding: 0.4em 0px 0.4em 12px;
  border-left: 4px solid rgb(230, 236, 241);
  border-color: rgb(230, 236, 241);
}

.horizontal-break {
  padding: 32px 0 24px;
}

.horizontal-break > hr {
  line-height: 1.6em;
  height: 1px;
  border: 0px;
  background-color: rgb(230, 236, 241);
}

.ce-block a {
  color: rgb(59, 101, 240);
  text-decoration: none;
}